* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

:root {
    --colo: #3A3A3A;
    --bgc: #1fc0e1;
}

.navHeader {
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    border: 1px solid #000;
    background-color: #fff;
    z-index: 999;
}

.unicode {
    font-size: 2rem;
    color: #000;
    display: none;
    margin: 0;
}

@media (max-width:550px) {

    .navHeader {

        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .unicode {
        display: block;
        position: fixed;
        z-index: 999;
    }

    .navHeader {
        display: none;
    }

    .unicode:hover~.navHeader {
        display: block;

    }
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}


.header-container>h1 {
    font: normal normal 900 80px/118px Heebo;
}

.text-container>p {
    font: normal normal medium 20px/30px Heebo;
}



.header-container {
    background-image: linear-gradient(to bottom, rgba(101, 163, 235, 0.5), rgba(255, 255, 255, 0.5)), url(./tigerImages/colorSpectrum.jpg);
    height: 28.8125em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
}


.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
}

.techUsed {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 130px;
    width: 1920px;
}

.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920;
    height: 715px;
}

.aboutMe figcaption {
    font: normal normal normal 20px/29px Heebo;
}

h2 {
    font: normal normal 900 35px/52px Heebo;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colo);
}


.aboutMe img {
    width: 141px;
    height: 139px;
    border-radius: 50%;

}

.aboutMe figure {
    width: 55%;
    text-align: center;
    margin: 13px;
    width: 798px;
    height: 232px;
}


.btn1 {
    width: 260px;
    height: 41px;
    border-radius: 25px;
    background-color: var(--bgc);
    margin: 13px;
}

.project {
    width: 1920;
    height: 1558px;
}

.btn {
    width: 250px;
    height: 35px;
    border-radius: 25px;
    background-color: var(--bgc);

}

.project p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: normal normal normal 20px/29px Heebo;
    color: var(--colo);

}

footer {
    display: flex;
    flex-direction: flex-end;
    width: 1920px;
    height: 958px;
    background-color: var(--colo);
    background-image: url(./tigerImages/Rectangle\ 41.png);
    background-repeat: no-repeat;
    background-position: top right;
}

footer form h3 {
    width: 200px;
    height: 53px;
    text-align: left;
    font: normal normal 900 36px/53px Heebo;
    color: #fff;
    font-size: 2.25em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 20px;
    margin: 40px;
    height: 399px;
    width: 548px;
}

form label {
    font-size: 1em;
    color: #fff;
}

form input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    font-size: 1em;
    color: #fff;
    height: 50px;
}



form input[type="submit"] {
    width: 166px;
    height: 50px;
    background-color: var(--bgc);
    border-radius: 25px;
}

.contactMethods {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 200.33x;
    background-color: var(--bgc);
    width: 1920px;
}