#aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width;
    height: 750px;
    background-color: rgba(245, 200, 238, 0.6);

    figcaption {
        font: normal normal normal 20px/29px Heebo;
    }

    .aboutMeimg {
        width: 20%;
        height: 200px;
        border-radius: 50%;
    }

    figure {
        width: 798px;
        height: 232px;
        text-align: center;
    }
}

.btn1 {
    @include bTn;
    width: 260px;
    height: 41px;
    margin: 19px;
}