#aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width;
    height: 45em;
    background-color: rgba(245, 200, 238, 0.6);

    figcaption {
        font: normal normal normal 20px/29px Heebo;
    }

    img {
        width: 141px;
        height: 139px;
        border-radius: 50%;

    }

    figure {
        width: 55%;
        text-align: center;
        width: 798px;
        height: 232px;
    }
}

.btn1 {
    @include bTn;
    width: 260px;
    height: 41px;
    margin: 19px;
}