.contactMethods {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 200.33px;
    background-color: var(--bgc);
    width: $width;
    text-align: center;
    padding: 10px;

    img {
        width: 25%;
        height: 30%;
    }
}

// @media (max-width: 550px) {
//     .contactMethods {
//         justify-content: space-around;
//     }
// }