.copyRights {
    display: flex;
    background: #000;
    font: normal normal normal 20px/29px Heebo;
    color: var(--colo);
    width: $width;
    height: 4.7%;
    padding: 0.625em;
    justify-content: flex-start;
    justify-content: space-between;
}