.copyRights {
    display: flex;
    background: #000;
    font: normal normal normal 20px/29px Heebo;
    color: var(--colo);
    width: $width;
    height: 51px;
    padding: 10px;
}

.copyrights {
    justify-content: flex-start;
}