.copyRights {
    display: flex;
    background: #000;
    font: normal normal normal 20px/29px Heebo;
    color: var(--colo);
    width: 1920px;
    height: 51px;

}

.copyrights {
    justify-content: flex-start;
}