footer {
    display: flex;
    flex-direction: flex-end;
    width: $width;
    height: 960px;
    background-color: var(--colo);
    background-repeat: no-repeat;
    background-position: top right;
    margin: 0 0;

    h3 {
        width: 270px;
        height: 53px;
        text-align: left;
        font: normal normal 900 36px/53px Heebo;
        color: #fff;
        font-size: 2.25em;
    }

    img {
        width: 500px;
        height: 400px;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 20px;
    margin: 40px;
    height: 640px;
    width: 550px;

    input[type="text"] {
        padding: 10px;
        margin: 5px 0;
        font-size: 1em;
        color: var(--colo);
        height: 6vh;
        width: 28.5vw;
    }

    input[ id="message"] {
        height: 100px;
    }

    input[type="submit"] {
        width: 166px;
        height: 50px;
        background-color: var(--bgc);
        border-radius: 25px;
    }

    label {
        font-size: 1em;
        color: #fff;
        text-align: left;
        opacity: 1;
    }
}