footer {
    display: flex;
    flex-direction: flex-end;
    width: $width;
    height: 88.7%;
    background-color: var(--colo);
    background-repeat: no-repeat;
    background-position: top right;
    margin: 0 0;

    h3 {
        width: 10.42%;
        height: 5%;
        text-align: left;
        font: normal normal 900 36px/53px Heebo;
        color: #fff;
        font-size: 2.25em;
    }

    img {
        width: 40%;
        height: 62%;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 1.25em;
    margin: 2.5em;
    height: 37%;
    width: 28.5%;

    input[type="text"] {
        padding: 0.625em;
        margin: 0.1325em 0;
        font-size: 1em;
        color: var(--colo);
        height: 6vh;
        width: 28.5vw;
    }

    input[ id="message"] {
        height: 6.25em;
    }

    input[type="submit"] {
        width: 10.375;
        height: 3.125em;
        background-color: var(--bgc);
        border-radius: 1.5625em;
    }

    label {
        font-size: 1em;
        color: #fff;
        text-align: left;
        opacity: 1;
    }
}