.navHeader {
    width: $width;
    height: 60px;
    position: fixed;
    top: 0;
    border: 1px solid #000;
    background-color: #fff;
    opacity: 1;
    z-index: 999;
    display: flex;
    align-items: center;

    ul {
        list-style-type: none;
        display: flex;
        flex-grow: 0.9;
        margin-bottom: 0;

    }

    ul li a {
        text-decoration: none;
        width: 150px;
        color: #000;
        display: block;
        text-align: center;
        font-size: 1.2em;
    }

    ul li a:hover {
        font-weight: bolder;
    }

    img {
        width: 8%;
        height: 50%;
    }
}

#hamburger {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    display: none;

    &:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #333;
        top: 100%;
        left: 0;
    }

    &:hover+ul li {
        margin: 0;
        padding: 10px 20px;
        width: 100%;
        text-align: center;
    }

    &:hover+ul a {
        color: white;
        text-decoration: none;
    }
}

ul li a {
    display: none;
}

@media (max-width:550px) {

    #hamburger {
        display: block;
        z-index: 999;
        width: $width;

        &:hover {
            display: block;

        }
    }

    .navHeader {
        width: $width;
        display: flex;
        height: 30px;

        ul {
            display: none;
        }
    }
}