.navHeader,
.unicode {
    width: $width;
    height: 80px;
    position: fixed;
    top: 0;
    border: 1px solid #000;
    background-color: #fff;
    z-index: 999;
}

// // ul {
// //     list-style-type: none;
// //     display: flex;
// //     justify-content: space-evenly;
// // }

// // .unicode {
// //     font-size: 2rem;
// //     color: #000;
// //     display: none;
// //     margin: 0;
// }

@media (max-width:550px) {

    .navHeader {
        width: $width;
        display: flex;
        flex-direction: column;
    }

    .navHeader {
        display: none;
    }

    .unicode {
        display: block;
        position: fixed;
        z-index: 999;
    }

    .unicode:hover~.navHeader {
        display: block;

    }
}



.unicode {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    padding: 5px;
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li a {
    margin-top: 23px;
    text-decoration: none;
    width: 100px;
    height: 70px;
    color: #000;
    display: block;
    text-align: center;
    font-size: 1.2em;
}

nav ul li a:hover {
    font-weight: bolder;
}