.navHeader {
    width: $width;
    height: 80px;
    position: fixed;
    top: 0;
    border: 1px solid #000;
    background-color: #fff;
    opacity: 1;
    z-index: 999;
    display: flex;
    align-items: center;
}

.unicode {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    padding: 5px;
    display: none;
    width: $width;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-grow: 0.9;
    margin-bottom: 0;

}

nav ul li a {
    text-decoration: none;
    width: 150px;
    color: #000;
    display: block;
    text-align: center;
    font-size: 1.2em;
}

nav ul li a:hover {
    font-weight: bolder;
}

.navIcon {
    width: 46px;
    height: 46px;
}

.navPh {
    width: 79px;
    height: 35px;

}



@media (max-width:550px) {

    .navHeader {

        display: none;
    }



    nav ul {
        width: $width;
        flex-direction: column;
    }


    nav ul li a {
        background-color: var(--bgc);
        width: 300px;
        border-bottom: 1px solid yellow;
        text-align: left;
    }



    header .unicode:hover {
        display: block;
    }
}


@media (max-width:550px) {

    .navHeader {

        display: none;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
    }

    nav ul li a {
        background-color: var(--bgc);
        width: 300px;
        border-bottom: 1px solid yellow;
        text-align: left;
    }

    header .unicode:hover {
        display: block;
    }
}