.navHeader {
    width: $width;
    height: 80px;
    position: fixed;
    top: 0;
    border: 1px solid #000;
    background-color: #fff;
    opacity: 1;
    z-index: 999;
    display: flex;
    align-items: center;
}

.unicode {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    padding: 5px;
    display: none;
    width: $width;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-grow: 0.9;
    margin-bottom: 0;

}

nav ul li a {
    text-decoration: none;
    width: 150px;
    color: #000;
    display: block;
    text-align: center;
    font-size: 1.2em;
}

nav ul li a:hover {
    font-weight: bolder;
}

.navIcon {
    width: 46px;
    height: 46px;
}

.navPh {
    width: 79px;
    height: 35px;

}

@media (max-width:550px) {

    .navHeader {
        width: $width;
        display: flex;
        flex-direction: column;
    }

    .navHeader {
        display: none;
    }

    .unicode {
        display: block;
        position: fixed;
        z-index: 999;
    }

    header .unicode:hover~.navHeader {
        display: block;

    }
}