#project {
    width: $width;
    height: 2020px;
    background: #aba9a9 0% 0% no-repeat padding-box;
    padding: 80px;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font: normal normal normal 20px/29px Heebo;
        color: var(--colo);
    }
}

.btn {
    @include bTn;
    width: 250px;
    height: 30px;
}