#project {
    width: $width;
    height: 1200px;
    background: #aba9a9 0% 0% no-repeat padding-box;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;


    p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font: normal normal normal 20px/29px Heebo;
        color: var(--colo);
    }
}

.btn {
    @include bTn;
    width: 250px;
    height: 30px;
}

@media (max-width: 550px) {
    #project {
        height: 2050px;

        .container,
        .row {
            justify-content: center;
            align-items: center;
        }
    }
}