#project {
    width: $width;
    height: 2000px;
    background: #F6F6F6 0% 0% no-repeat padding-box;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font: normal normal normal 20px/29px Heebo;
        color: var(--colo);

    }
}

.btn {
    width: 200px;
    height: 30px;
    border-radius: 25px;
    background-color: var(--bgc);
}