* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colo: #3A3A3A;
    --bgc: #1fc0e1;
}

$width: 100%;


h2 {
    font: normal normal 900 35px/52px Heebo;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colo);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--colo);
}


.card {
    height: 280px;
    margin: 5px;
}

@mixin bTn {
    border-radius: 25px;
    text-decoration: none;
    line-height: 1;
    opacity: 1;
    background-color: var(--bgc);
}

.up {
    position: fixed;
    width: 20px;
    height: 20px;
    left: 90%;
    bottom: 3%;
    z-index: 999;
}

.up:hover {
    width: 30px;
    height: 30px;
}

@media (max-width: 550px) {


    .up {
        left: 75%;
    }
}