* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colo: #3A3A3A;
    --bgc: #1fc0e1;
}

$width: 100vw;

h2 {
    font: normal normal 900 35px/52px Heebo;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colo);
}

// @mixin btn {
//     display: block;
//     width: $btnWidth;
//     height: $btnHeight;
//     background: $btnColor 0% 0% no-repeat padding-box;
//     border-radius: 25px;
//     letter-spacing: 0.3px;
//     text-decoration: none;
//     line-height: 2.5;
//     opacity: 1;
// }