* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colo: #3A3A3A;
    --bgc: #1fc0e1;
}

$width: 100vw;

h2 {
    font: normal normal 900 35px/52px Heebo;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colo);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--colo);
}


.card {
    height: 280px;
    margin: 5px;
}

@mixin bTn {
    border-radius: 25px;
    text-decoration: none;
    line-height: 1;
    opacity: 1;
    background-color: var(--bgc);
}