.contactMethods {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 200.33px;
    background-color: var(--bgc);
    width: $width;
    text-align: center;
    padding: 10px;

    img {
        width: 1.51%;
        height: 3.7%;
    }
}