.contactMethods {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 200.33x;
    background-color: var(--bgc);
    width: $width;
    text-align: center;
    padding: 10px;
}

.contactMethods img {
    width: 29px;
    height: 40px;
}