.techUsed {
    height: 146px;
    width: $width;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(248, 230, 246, 0.6);


    img {
        height: 100px;
        width: 100px;
    }
}