.techUsed {
    height: 146px;
    width: $width;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    img {
        height: 100px;
        width: 10%;

        &:hover {
            transform: rotate(0.5turn);
            transition: all 1s ease-in-out;
        }
    }

}