.techUsed {
    height: 9.125em;
    width: $width;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    img {
        height: 100px;
        width: 100px;
    }
}