* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colo: #3A3A3A;
    --bgc: #1fc0e1;
    --width: 100%;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--colo);
}


.navHeader {
    width: var(--width);
    height: 80px;
    position: fixed;
    top: 0;
    border: 1px solid #000;
    background-color: #fff;
    opacity: 1;
    z-index: 999;
    display: flex;
    align-items: center;
}

header #unicode {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    padding: 5px;
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-grow: 0.9;
    margin-bottom: 0;
}

nav ul li a {
    text-decoration: none;
    width: 150px;
    color: #000;
    display: block;
    text-align: center;
    font-size: 1.2em;
}

nav ul li a:hover {
    font-weight: bolder;
}

.navIcon {
    width: 46px;
    height: 46px;
}

.navPh {
    width: 79px;
    height: 35px;
}

#unicode:hover+ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    top: 100%;
    left: 0;
}

#unicode:hover+ul li {
    margin: 0;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}

#unicode:hover+ul a {
    color: white;
    text-decoration: none;
}

ul li a {
    display: none;
}

#header-container {
    background-image: linear-gradient(to bottom, rgba(101, 163, 235, 0.5), rgba(255, 255, 255, 0.5)), url(../tigerImages/colorSpectrum.jpg);
    height: 28.8125em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
}

#header-container h1 {
    font: normal normal 900 80px/110px Heebo;
}

.text-container>p {
    font: normal normal medium 20px/30px Heebo;
}

.btn1 {
    border-radius: 25px;
    text-decoration: none;
    opacity: 1;
    background-color: var(--bgc);
    color: var(--colo);
    width: 260px;
    height: 41px;
    margin: 19px;
}

.buttons {
    display: flex;
    margin-top: 40px;
}

.techUsed {
    height: 146px;
    width: var(--width);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.techUsed img {
    height: 100px;
    width: 10%;
}



.copyRights {
    display: flex;
    background: #000;
    font: normal normal normal 20px/29px Heebo;
    color: #EBFEFF;
    width: var(--width);
    height: 51px;
    padding: 10px;
    justify-content: flex-start;
    justify-content: space-between;
    border: 1px solid var(--bgc);
}

.container {
    background: #EBFEFF 0% 0% no-repeat padding-box;
    width: var(--width);
    height: 1014px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 75%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.up {
    position: fixed;
    width: 20px;
    height: 20px;
    left: 90%;
    bottom: 3%;
    z-index: 999;
}

.up:hover {
    width: 30px;
    height: 30px;
}

@media (max-width: 800px) {

    ul li {
        flex-direction: column;
        align-items: flex-start;
        display: none;
    }

    .navHeader {
        display: none;
    }

    #unicode {
        display: block;
        position: fixed;

    }

    #unicode:hover~ul {
        display: block;
    }

    .up {
        left: 75%;
    }
}