* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colo: #3A3A3A;
  --bgc: #1fc0e1;
}

h2 {
  font: normal normal 900 35px/52px Heebo;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colo);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--colo);
}

.card {
  height: 280px;
  margin: 5px;
}

.up {
  position: fixed;
  width: 20px;
  height: 20px;
  left: 90%;
  bottom: 3%;
  z-index: 999;
}

.up:hover {
  width: 30px;
  height: 30px;
}

@media (max-width: 800px) {
  .up {
    left: 75%;
  }
}
.navHeader {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  border: 1px solid #000;
  background-color: #fff;
  opacity: 1;
  z-index: 999;
  display: flex;
  align-items: center;
}

header #unicode {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-grow: 0.9;
  margin-bottom: 0;
}

nav ul li a {
  text-decoration: none;
  width: 150px;
  color: #000;
  display: block;
  text-align: center;
  font-size: 1.2em;
}

nav ul li a:hover {
  font-weight: bolder;
}

.navIcon {
  width: 46px;
  height: 46px;
}

.navPh {
  width: 79px;
  height: 35px;
}

#unicode:hover + ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #333;
  top: 100%;
  left: 0;
}

#unicode:hover + ul li {
  margin: 0;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
}

#unicode:hover + ul a {
  color: white;
  text-decoration: none;
}

ul li a {
  display: none;
}

@media (max-width: 550px) {
  #unicode {
    display: block;
    z-index: 999;
  }
  .navHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .navHeader {
    display: none;
  }
  header .unicode:hover ~ .navHeader {
    display: block;
  }
}
#header-container {
  background-image: linear-gradient(to bottom, rgba(101, 163, 235, 0.5), rgba(255, 255, 255, 0.5)), url(../tigerImages/colorSpectrum.jpg);
  height: 28.8125em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 55%;
}

#header-container h1 {
  font: normal normal 900 80px/118px Heebo;
}

.text-container > p {
  font: normal normal medium 20px/30px Heebo;
  text-align: center;
}

.techUsed {
  height: 146px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.techUsed img {
  height: 100px;
  width: 10%;
}

#aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 750px;
  background-color: rgba(245, 200, 238, 0.6);
}
#aboutMe figcaption {
  font: normal normal normal 20px/29px Heebo;
}
#aboutMe .aboutMeimg {
  width: 20%;
  height: 200px;
  border-radius: 50%;
}
#aboutMe figure {
  width: 798px;
  height: 232px;
  text-align: center;
}

.btn1 {
  border-radius: 25px;
  text-decoration: none;
  line-height: 1;
  opacity: 1;
  background-color: var(--bgc);
  width: 260px;
  height: 41px;
  margin: 19px;
}

#project {
  width: 100%;
  height: 2050px;
  background: #aba9a9 0% 0% no-repeat padding-box;
  padding: 80px;
}
#project p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: normal normal normal 20px/29px Heebo;
  color: var(--colo);
}

.btn {
  border-radius: 25px;
  text-decoration: none;
  line-height: 1;
  opacity: 1;
  background-color: var(--bgc);
  width: 250px;
  height: 30px;
}

:root {
  --formwidth: 90%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 960px;
  background-color: var(--colo);
  background-repeat: no-repeat;
  background-position: top right;
  margin: 0;
}
footer h3 {
  width: 200px;
  height: 53px;
  text-align: left;
  font: normal normal 900 36px/53px Heebo;
  color: #fff;
  font-size: 2.25em;
}
footer #envelope img {
  width: 30vw;
  height: 50vh;
}

#contactUs form {
  display: block;
  margin-left: 200px;
  width: 50%;
}
#contactUs form input[type=text] {
  padding: 10px;
  margin: 5px 0;
  font-size: 1em;
  color: var(--colo);
  height: 6vh;
  width: var(--formwidth);
  border-bottom: 2px solid var(--bgc);
}
#contactUs form textarea {
  width: var(--formwidth);
  height: 180px;
  resize: none;
  border-bottom: 2px solid var(--bgc);
}
#contactUs form input[type=submit] {
  width: 166px;
  height: 50px;
  background-color: var(--bgc);
  border-radius: 25px;
}
#contactUs form label {
  font-size: 1em;
  color: #fff;
  text-align: left;
  opacity: 1;
  display: block;
}

@media (max-width: 550px) {
  footer {
    flex-direction: column;
  }
  #contactUs form,
  #contactUs form h3 {
    margin-left: 5px;
    text-align: center;
    width: 100%;
  }
  input[type=text],
  input[type=submit],
  textarea {
    width: var(--formwidth);
  }
}
.contactMethods {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 200.33px;
  background-color: var(--bgc);
  width: 100%;
  text-align: center;
  padding: 10px;
}
.contactMethods img {
  width: 41px;
  height: 41px;
}

.copyRights {
  display: flex;
  background: #000;
  font: normal normal normal 20px/29px Heebo;
  color: #fff;
  width: 100%;
  height: 51px;
  padding: 10px;
  justify-content: flex-start;
  justify-content: space-between;
  border: 1px solid var(--bgc);
}/*# sourceMappingURL=main.css.map */