* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colo: #3A3A3A;
  --bgc: #1fc0e1;
}

h2 {
  font: normal normal 900 35px/52px Heebo;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colo);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--colo);
}

.card {
  height: 300px;
}

.navHeader {
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  border: 1px solid #000;
  background-color: #fff;
  opacity: 1;
  z-index: 999;
  display: flex;
  align-items: center;
}

.unicode {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  padding: 5px;
  display: none;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-grow: 0.9;
  margin-bottom: 0;
}

nav ul li a {
  text-decoration: none;
  width: 150px;
  color: #000;
  display: block;
  text-align: center;
  font-size: 1.2em;
}

nav ul li a:hover {
  font-weight: bolder;
}

.navIcon {
  width: 62px;
  height: 62px;
}

.navPh {
  width: 79px;
  height: 35px;
}

@media (max-width: 550px) {
  .navHeader {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .navHeader {
    display: none;
  }
  .navIcon {
    width: 43px;
    height: 43px;
    margin-right: 0;
  }
  .unicode,
  .navIcon {
    display: block;
    position: fixed;
    z-index: 999;
  }
  nav ul {
    width: 100%;
    flex-direction: column;
  }
  nav ul li a {
    background-color: var(--bgc);
    width: 300px;
    border-bottom: 1px solid yellow;
    text-align: left;
  }
  nav .unicode + ul {
    display: none;
  }
  .unicode:hover ~ .navHeader {
    display: block;
  }
}
#header-container {
  background-image: linear-gradient(to bottom, rgba(101, 163, 235, 0.5), rgba(255, 255, 255, 0.5)), url(../tigerImages/colorSpectrum.jpg);
  height: 28.8125em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 55%;
}

#header-container > h1 {
  font: normal normal 900 80px/118px Heebo;
}

.text-container > p {
  font: normal normal medium 20px/30px Heebo;
  text-align: center;
}

.techUsed {
  height: 9.125em;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.techUsed img {
  height: 100px;
  width: 100px;
}

#aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 45em;
}
#aboutMe figcaption {
  font: normal normal normal 20px/29px Heebo;
}
#aboutMe img {
  width: 141px;
  height: 139px;
  border-radius: 50%;
}
#aboutMe figure {
  width: 55%;
  text-align: center;
  width: 798px;
  height: 232px;
}

.btn1 {
  border-radius: 25px;
  letter-spacing: 0.3px;
  text-decoration: none;
  line-height: 1;
  opacity: 1;
  background-color: var(--bgc);
  width: 260px;
  height: 41px;
  margin: 19px;
}

#project {
  width: 100vw;
  height: 2000px;
  background: #F6F6F6 0% 0% no-repeat padding-box;
}
#project p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: normal normal normal 20px/29px Heebo;
  color: var(--colo);
}

.btn {
  border-radius: 25px;
  letter-spacing: 0.3px;
  text-decoration: none;
  line-height: 1;
  opacity: 1;
  background-color: var(--bgc);
  width: 200px;
  height: 30px;
}

footer {
  display: flex;
  flex-direction: flex-end;
  width: 100vw;
  height: 958px;
  background-color: var(--colo);
  background-repeat: no-repeat;
  background-position: top right;
  margin: 0 0;
}
footer h3 {
  width: 200px;
  height: 53px;
  text-align: left;
  font: normal normal 900 36px/53px Heebo;
  color: #fff;
  font-size: 2.25em;
}
footer img {
  width: 21vw;
  height: 31.3vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 20px;
  margin: 40px;
  height: 399px;
  width: 548px;
}
form input[type=text] {
  padding: 10px;
  margin: 5px 0;
  font-size: 1em;
  color: var(--colo);
  height: 6vh;
  width: 28.5vw;
}
form input[id=message] {
  height: 100px;
}
form input[type=submit] {
  width: 166px;
  height: 50px;
  background-color: var(--bgc);
  border-radius: 25px;
}
form label {
  font-size: 1em;
  color: #fff;
  text-align: left;
  opacity: 1;
}

.contactMethods {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 200.33px;
  background-color: var(--bgc);
  width: 100vw;
  text-align: center;
  padding: 10px;
}
.contactMethods img {
  width: 29px;
  height: 40px;
}

.copyRights {
  display: flex;
  background: #000;
  font: normal normal normal 20px/29px Heebo;
  color: var(--colo);
  width: 100vw;
  height: 51px;
  padding: 10px;
  justify-content: flex-start;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */