@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Satisfy&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0EE1E1;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

header .box {
    width: 17%;
    height: 267px;
}

header h1 {
    font: normal normal 900 66px/97px Heebo;
    text-align: left;
}

header h1 p {
    font: normal normal normal 20px/29px Heebo;
    text-align: left;
}


header .circle1 {
    background-color: #fff;
    border-radius: 50%;
    width: 6%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
    width: 100%;
}

.sections section {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    width: 23.5%;
    height: 250px;
    background-color: #F8F8F8;
}

.sections section,
h5,
p {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sections h5 {
    color: #0EE1E1;
    font: normal normal 900 30px/44px Heebo;
}

.sections p {
    font: normal normal normal 12px/20px Heebo;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.container .container1,
.container2 {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.container2 {
    background: #1c95e0;

}

.container2>img {
    width: 100%;
    height: 100%;
    padding: 25px;

}

.container1 {
    background-color: #c8fafa;
}

.container1 form {
    width: 100%;
    height: 100%;
    padding: 35px;
}

form h3 {
    font: normal normal 900 30px/650px Heebo;
    color: #090909;
    text-align: left;
    line-height: 2;
}

form p {
    font: normal normal normal 12px/20px Heebo;
    color: #000;
    text-align: left;
    margin: 5px;

}

form input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    font-size: 1em;
    color: #77849c;
    height: 6vh;
    width: 28.5vw;
    border: none;
    border-bottom: 3px solid #0EE1E1;
    background-color: #a9abae;

}

form textarea {
    width: 28.5vw;
    height: 180px;
    resize: none;
    border: 2px solid #1fc0e1;
    display: block;
    background-color: #a9abae;
}

form input[type="submit"] {
    width: 28.5vw;
    height: 6vh;
    background-color: #0EE1E1;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    color: #000;
    font: normal normal bold 20px/28px Heebo;
}

form label {
    font: normal normal bold 13px/19px Heebo;
    color: #000;
    display: block;
}


footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.circle {
    background-color: #0EE1E1;
    border-radius: 50%;
    width: 10%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.bottomcolor {
    background-color: #0EE1E1;
    width: 100%;
    height: 19px;
}

@media (max-width: 800px) {

    header .circle1,
    .circle1>img {
        display: none;
    }

    .sections {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        width: 100%;
    }

    .sections section {
        width: 70%;
        margin: 10px;
    }

    .container {
        display: block;
    }

    .container1 form {
        width: 100%;
        height: 100%;

    }

    footer .circle>img {
        width: 65%;
    }
}