@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500;700&family=Caveat&family=Heebo:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --width: 100%;
}

body {
    background-color: #E5EEFF;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "box box beach cow"
        "box box farm island"
        "isolation monkey view oldman"
        "sea sunset form form"
        "temple train form form"
        "trees Ladies form form";
    gap: 10px;
}

.container .box {
    grid-area: box;
}

img .beach {
    grid-area: beach;
}

img .cow {
    grid-area: cow;
}

img .farm {
    grid-area: farm;
}

img .island {
    grid-area: island;
}

img .isolation {
    grid-area: isolation;
}

img .monkey {
    grid-area: monkey;
}

img .view {
    grid-area: view;
}

img .oldman {
    grid-area: oldman;
}

img .sea {
    grid-area: sea;
}

img .sunset {
    grid-area: sunset;
}

img .temple {
    grid-area: temple;
}

img .train {
    grid-area: train;
}

img .trees {
    grid-area: trees;
}

img .Ladies {
    grid-area: Ladies;
}

.container .form {
    grid-area: form;
}

.box {
    background-color: #020253;
    opacity: 1;
    z-index: 999;
    text-align: center;
    display: grid;
    place-content: center;
}

.box h1 {
    font: normal normal bold 30px/50px Assistant;
    color: #0EE1DA;
}

.box p {
    font: normal normal normal 10px/15px Assistant;
    color: #F9F9F9;
}

.container .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8E097C;
    padding: 20px;
}


.form h3 {
    font: normal normal bold 35px/46px Assistant;
    color: #fff;
    text-align: center;
    line-height: 2;
}

.form p {
    font: normal normal bold 20px/26px Assistant;
    color: #fff;
    text-align: center;
    line-height: 5;
}

.form input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    font-size: 1em;
    color: #3A3A3A;
    height: 6vh;
    width: 28.5vw;
    border-bottom: 2px solid #1fc0e1;
}

.form textarea {
    width: 28.5vw;
    height: 180px;
    resize: none;
    border-bottom: 2px solid #1fc0e1;
}

.form input[type="submit"] {
    width: 28.5vw;
    height: 6vh;
    background-color: #1fc0e1;
    cursor: pointer;
    display: block;
}

.form label {
    font: normal normal bold 16px/24px Heebo;
    color: #0EE1DA;
    display: block;
}


@media (max-width: 800px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas:
            "box box"
            "beach cow"
            "farm island"
            "isolation monkey"
            "view oldman"
            "form form"
            "form form"
            "sea sunset"
            "temple train"
            "trees Ladies"
        ;
    }

    .container .box {
        grid-area: box;
        width: var(--width);
    }

    img .beach {
        grid-area: beach;
        width: var(--width);
    }

    img .cow {
        grid-area: cow;
        width: var(--width);
    }

    img .farm {
        grid-area: farm;
        width: var(--width);
    }

    img .island {
        grid-area: island;
        width: var(--width);
    }

    img .isolation {
        grid-area: isolation;
        width: var(--width);
    }

    img .monkey {
        grid-area: monkey;
        width: var(--width);
    }

    img .view {
        grid-area: view;
        width: var(--width);
    }

    img .oldman {
        grid-area: oldman;
        width: var(--width);
    }

    img .sea {
        grid-area: sea;
        width: var(--width);
    }

    img .sunset {
        grid-area: sunset;
        width: var(--width);
    }

    img .temple {
        grid-area: temple;
        width: var(--width);
    }

    img .train {
        grid-area: train;
        width: var(--width);
    }

    img .trees {
        grid-area: trees;
        width: var(--width);
    }

    img .Ladies {
        grid-area: Ladies;
        width: var(--width);
    }

    .container .form {
        grid-area: form;
        width: var(--width);
    }
}