@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500;700&family=Caveat&family=Heebo:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5EEFF;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 50vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "box box beach cow"
        "box box farm island"
        "isolation monkey view oldman"
        "sea sunset form form"
        "temple train form form"
        "trees Ladies form form";
    gap: 10px;
}

.container .box {
    grid-area: box;
}

img .beach {
    grid-area: beach;
}

img .cow {
    grid-area: cow;
}

img .farm {
    grid-area: farm;
}

img .island {
    grid-area: island;
}

img .isolation {
    grid-area: isolation;
}

img .monkey {
    grid-area: monkey;
}

img .view {
    grid-area: view;
}

img .oldman {
    grid-area: oldman;
}

img .sea {
    grid-area: sea;
}

img .sunset {
    grid-area: sunset;
}

img .temple {
    grid-area: temple;
}

img .train {
    grid-area: train;
}

img .trees {
    grid-area: trees;
}

img .Ladies {
    grid-area: Ladies;
}

.container form {
    grid-area: form;
}

.box {
    background-color: #020253;
    opacity: 1;
    z-index: 999;
    text-align: center;
    display: grid;
    place-content: center;
}

.box h1 {
    font: normal normal bold 30px/50px Assistant;
    color: #0EE1DA;
}

.box p {
    font: normal normal normal 10px/15px Assistant;
    color: #F9F9F9;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 20px;
    background-color: #8E097C;
}

form h3 {
    font: normal normal bold 35px/46px Assistant;
    color: #fff;
    text-align: center;
}

form p {
    font: normal normal bold 20px/26px Assistant;
    color: #fff;
    text-align: center;
}

form input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    font-size: 1em;
    color: #3A3A3A;
    height: 6vh;
    width: 28.5vw;
}

form input[ id="message"] {
    height: 100px;
}

form input[type="submit"] {
    width: 166px;
    height: 50px;
    background-color: #1fc0e1;
    border-radius: 25px;
}

form label {
    font-size: normal normal bold 16px/24px Heebo;
    color: #0EE1DA;
    text-align: left;
    opacity: 1;
}