* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colo: #3A3A3A;
    --bgc: #1fc0e1;
    --width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--colo);
}


.navHeader {
    width: var(--width);
    height: 80px;
    position: fixed;
    top: 0;
    border: 1px solid #000;
    background-color: #fff;
    opacity: 1;
    z-index: 999;
    display: flex;
    align-items: center;
}

.unicode {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    padding: 5px;
    display: none;
    width: var(--width);
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-grow: 0.9;
    margin-bottom: 0;
}

nav ul li a {
    text-decoration: none;
    width: 150px;
    color: #000;
    display: block;
    text-align: center;
    font-size: 1.2em;
}

nav ul li a:hover {
    font-weight: bolder;
}

.navIcon {
    width: 46px;
    height: 46px;
}

.navPh {
    width: 79px;
    height: 35px;
}

@media (max-width: 800px) {
    .navHeader {
        width: var(--width);
        display: flex;
        flex-direction: column;
    }

    .navHeader {
        display: none;
    }

    .unicode {
        display: block;
        position: fixed;
        z-index: 999;
    }

    .unicode:hover~.navHeader {
        display: block;
    }
}

#header-container {
    background-image: linear-gradient(to bottom, rgba(101, 163, 235, 0.5), rgba(255, 255, 255, 0.5)), url(../tigerImages/colorSpectrum.jpg);
    height: 28.8125em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
}

#header-container>h1 {
    font: normal normal 900 80px/118px Heebo;
}

.text-container>p {
    font: normal normal medium 20px/30px Heebo;
    text-align: center;
}

.techUsed {
    height: 146px;
    width: var(--width);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(248, 230, 246, 0.6);
}

.techUsed img {
    height: 100px;
    width: 100px;
}

.btn1 {
    border-radius: 25px;
    text-decoration: none;
    line-height: 1;
    opacity: 1;
    background-color: var(--bgc);
    width: 260px;
    height: 41px;
    margin: 19px;
}

.copyRights {
    display: flex;
    background: #000;
    font: normal normal normal 20px/29px Heebo;
    color: #fff;
    width: var(--width);
    height: 51px;
    padding: 10px;
    justify-content: flex-start;
    justify-content: space-between;
    border: 1px solid var(--bgc);
}

.container {
    background: #EBFEFF 0% 0% no-repeat padding-box;
    width: var(--width);
    height: 1014px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 75%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}